@media all and (max-width: 2000px) {
    .midlow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .midlow-img {
        height: 230px;
        width: 1416px;
        margin-top: 175px;

    }

    .left {
        height: 480px;
        display: flex;
        align-items: center;

    }

    .right {
        height: 480px;
        display: flex;
        align-items: center;
    }

    .midlow-img-two {
        height: 230px;
        width: 1416px;
    }

    .midlow-img-two-t {
        margin-top: 40px;
        height: 300px;
        width: 1416px;
    }


    .midlow-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .midlow-text-title {
        font-size: 50px;
    }

    .midlow-text-cont {
        margin-top: -30px;
        font-size: 18px;
        opacity: 70%;
    }

    .midlow-contents-all {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        width: 920px;
    }

    .midlow-contents-t {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .midlow-contents {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #f9f9f9;
    }

    .midlow-contents-t>span {
        margin-top: 10px;
    }

    .zero:hover {
        background-color: teal;
    }

    .one:hover {
        background-color: tomato;
    }

    .two:hover {
        background-color: burlywood;
    }

    .three:hover {
        background-color: cyan;
    }

    .four:hover {
        background-color: darkgoldenrod;
    }

    .five:hover {
        background-color: darkorange;
    }

    .six:hover {
        background-color: darkred;
    }

    .midlow-lmg-contents {
        display: flex;
        margin-top: 25px;
    }

    .midlow-imgs-g {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midlow-imgs-tv {
        width: 450px;
        height: 450px;
        cursor: pointer;
    }

    .midlow-img-tv-main {
        width: 450px;
        height: 450px;
    }

    .midlow-img-tv-main:hover {
        width: 470px;
        height: 470px;
    }

    .midlow-img-tv-img {
        top: 1px;
        left: 10px;
    }

    .midlow-img-icons-one {
        height: 400px;
    }

    .midlow-img-icons-one-icon {
        left: 360px;
        top: 270px;
    }

    .midlow-imgs-text {
        width: 450px;
    }

    .midlow-imgs-title {
        font-size: 25px;
    }

    .midlow-imgs-sale {
        margin-top: 10px;
    }
}