@media all and (max-width: 2000px) {
	.all {
		box-sizing: border-box;
	}

	.top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 35px 170px;
		white-space: nowrap;
		width: 1606px;

	}

	.title-ti {
		display: flex;
		justify-content: center;
		padding: 0px 200px;
		margin-right: 150px;
	}

	.login {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 200px;

	}

	.login-icon:hover {
		cursor: pointer;
	}

	.login-man-off {
		position: relative;
		bottom: 10px;
		right: 15px;

	}

	.basket {
		right: 10px;
		position: relative;

	}


	.basket-count {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border-radius: 80%;
		background-color: #333333;
		color: white;
		z-index: 999;

	}

	.basket-count:hover {
		background-color: #90c31f;
		transition: all 1s ease-in-out;
	}

	.titile-bigimg {
		height: 300px;
		margin-top: 35px;
		margin-bottom: 115px;
	}

	.titile-bigimg-img {
		height: 300px;
		width: 100%;
	}
}

@media all and (max-width: 1660px) {
	html {
		width: 1650px;
	}
}