@keyframes heartBeat {
    0% {
        transform: none;
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: none;
    }
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background: #8dc220;
    animation: heartBeat 1s linear infinite;
    cursor: pointer;
}


.fa-plus {
    font-size: 50px;
    opacity: 80%;
}

.footer-imfo {
    margin-top: 300px;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}